.tutorial {
    padding-top: 10px;
}

.step_1, .step_2, .step_3, .step_4, .step_5, .step_6 {
    display: block;
    align-items: center;
    justify-content: center;
}

img {
    border: 5px solid black;
}