.tutorial {
    padding-top: 10px;
}

.step_1, .step_2, .step_3, .step_4, .step_5, .step_6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.step_2, .step_3, .step_4, .step_5, .step_6, .step_7 {
    display: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.buttons button {
    text-align: center;
    width: 48%;
    font-size: 25px;
    height: 75px;
}

.step_1 img, .step_2 img, .step_3 img, .step_4 img, .step_5 img, .step_6 img {
    border: 5px solid black;
    width: 90%;
}