.tutorial {
    padding-top: 10px;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.step_1 img {
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}