.search_bar {
    display: grid;
    padding: 25px;
}

.search_bar input {
    font-size: 25px;
    border: 2px solid black;
    height: 75px;
    width: 78%;
}

.search_bar select {
    font-size: 25px;
    border: 2px solid black;
    height: 75px;
}

.search_row {
    display: inline-block;
}

.search_row button {
    width: 20%;
    font-size: 25px;
    height: 75px;
    background-color: lightgray;
}

.search_results {
    display: grid;
}

.search_result_list button {
    width: 100%;
    border: 2px solid black;
    font-size: 25px;
    height: 75px;
}

.floor_options {
    display: inline;
    text-align: center;
    padding-top: 20px;
}

.floor_options button {
    font-size: 25px;
    width: 48%;
    height: 75px;
}

.floor_1 {
    background-color: darkgray;
}

.floor_2 {
    background-color: lightgray;
}

.map_object {
    display: none;
    padding-top: 20px;
}

.map_destination {
    padding: 0px;
}

.map_destination p {
    font-size: 50px;
}

.save_location {
    height: 75px;
}

.deny_access {
    display: none;
}

.denied_perms {
    display: none;
}

.directions {
    padding-top: 20px;
}

.reconfigure_settings {
    font-size: 25px;
    width: 100%;
    height: 75px;
}

.selection_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

/*For settings page*/
.settings_page {
    padding-top: 20px;
}

.mobility_inclusion {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    height: 50px;
}

.save_settings {
    display: block;
    font-size: 25px;
    width: 40%;
    height: 75px;
    margin: auto;
    padding-top: 10px;
}

.settings_page h1 {
    text-align: left;
    margin: 0px;
}

.mobility_inclusion input {
    display: inline-block;
    width: 35px;
    height: 35px;
}

.mobility_inclusion p {
    font-size: 35px;
    display: inline-block;
}

body {
    font-family: 'Inter';
}

h1 {
    text-align: center;
    font-size: 55px;
}

h2 {
    font-size: 45px;
}

a {
    text-decoration: none;
    font-size: 35px;
}

p {
    font-size: 35px;
    padding: 0px;
    margin: 0px;
}