.search_bar {
    display: grid;
    padding: 25px;
}

.search_bar input {
    width: 100%;
    font-size: 25px;
    border: 2px solid black;
}

.search_bar select {
    font-size: 25px;
    border: 2px solid black;
}

.search_results {
    width: 100%;
    display: grid;
}

.search_result_list button {
    width: 100%;
    border: 2px solid black;
    font-size: 25px;
}

.floor_options {
    width: 100%;
}

.floor_options button {
    font-size: 25px;
}

.map_object {
    display: none;
}

.map_destination {
    padding: 0px;
}

.deny_access {
    display: none;
}

.denied_perms {
    display: none;
}

body {
    font-family: 'Inter';
}

h1 {
    text-align: center;
    font-size: 55px;
}

h2 {
    font-size: 45px;
}

a {
    text-decoration: none;
    font-size: 35px;
}

p {
    font-size: 35px;
}