.setting_features {
    padding: 0px;
    margin: 0px;
}

.mobility_inclusion {
    display: inline;
    height: 50px;
}

.save_settings {
    display: block;
    font-size: 25px;
    width: 40%;
    height: 50px;
    margin: auto;
}

h1 {
    padding-top: 10px;
    margin: 0px;
}

input {
    display: inline-block;
    width: 35px;
    height: 35px;
}

p {
    font-size: 35px;
    display: inline-block;
}