.setting_features {
    padding-bottom: 0px;
}

.mobility_inclusion {
    display: inline;
}

.save_settings {
    display: block;
    font-size: 25px;
    width: 25%;
    height: 50px;
    margin: auto;
}

h1 {
    padding-bottom: 0px;
}

input {
    display: inline-block;
}

p {
  display: inline-block;
}