.website_header {
    background-color: #c2beb5;
}

.website_header img {
    width: 125px;
    height: 125px;
    padding: 10px 10px;
}

/*
Helps the website header elements to be distributed horizontally equally in the center
*/
.website_header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
Mainly removes the bulleted list and adjusts text towards the right
*/
.website_header nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 30px;
}

/*
Helps to create the boxes that each of the buttoned hyperlinks are in
*/
.website_header nav ul li {
    display: inline-block;
    margin: 5px 20px;
}

.website_header nav ul li a.current_page {
    color: #64b3ee;
}

.website_header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

.important_links {
    display: flex;
    flex-direction: column;
}

.important_links a {
    font-size: 30px;
}

.settings_page {
    display: block;
}

.map_page {
    display: none;
}

body {
    font-family: 'Inter';
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 45px;
    padding-bottom: 0px;
}

p {
    font-size: 30px;
}

hr {
    border-top: 5px solid black;
}