<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/get_started.css">
    <title>PHS Interactive Guide - Get Started</title>
</head>
<body>
  <div class="website_header">
    <nav>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="map.html">Guide</a>
        </li>
        <li>
          <a href="resources.html">Resources</a>
        </li>
        <li>
          <a href="#" class="current_page">Get Started</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="tutorial">
    <h1>Getting Started:</h1>
  </div>
</body>
</html>