<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/get_started.css">
    <title>PHS Interactive Guide - Get Started</title>
</head>
<body>
  <div class="website_header">
    <nav>
      <img src="/static/images/codecrux_profile.png" alt="Codecrux Profile"/>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="map.html">Guide</a>
        </li>
        <li>
          <a href="resources.html">Resources</a>
        </li>
        <li>
          <a href="#" class="current_page">Get Started</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="tutorial">
    <h1>Getting Started:</h1>

    <hr>

    <div class="different_steps">
      <div id="step_1" class="step_1">
        <img src="/static/images/step_1.png" alt="Tutorial Step 1"/>
        <p>From any page, to start getting directions to your desired location, click on the “Guide” header.</p>
      </div>
      <div id="step_2" class="step_2">
        <img src="/static/images/step_2.png" alt="Tutorial Step 2"/>
        <p>This settings page will first ask you to select if you have any mobility accommodations. Select the checkbox if “yes” or leave it blank if “no”. Click "Save Settings" to continue</p>
      </div>
      <div id="step_3" class="step_3">
        <img src="/static/images/step_3.png" alt="Tutorial Step 3"/>
        <p>After this, you will be directed the search and guide page. Use the dropdown menu to choose your search filter (either room number, room name, or teacher name)</p>
      </div>
      <div id="step_4" class="step_4">
        <img src="/static/images/step_4.png" alt="Tutorial Step 4"/>
        <p>After this, you will be directed the search and guide page. Use the dropdown menu to choose your search filter (either room number, room name, or teacher name)</p>
      </div>
      <div id="step_5" class="step_5">
        <img src="/static/images/step_5.png" alt="Tutorial Step 5"/>
        <p>Use the search bar to search for your desired location (2613 is used for this tutorial). After the room number, room name, or teacher name desired pops up, click on the button, and it will automatically put the value in the search bar.</p>
      </div>
      <div id="step_6" class="step_6">
        <img src="/static/images/step_6.png" alt="Tutorial Step 6"/>
        <p>Click on the “Get Directions” button to get directions to your desired location. Congratulations, now you know how to use the interactive guide!</p>
      </div>
      <div id="step_7" class="step_7">
        <p>Additional Notes for Guidance:</p>
        <ul>
          <li>Useful links can be found on the "Resources" page.</li>
          <li>The hallways have odd number rooms on one side and even numbered rooms on the other.</li>
          <li>If location isn’t accurate, try disconnecting from the Wi-Fi or cellular data and the reconnecting.</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>