<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <link rel='stylesheet' href='/static/styles.css'>
    <title>PHS Interactive Guide - Home</title>
</head>
<body>
    <div class="website_header">
        <nav>
            <img src="/static/images/codecrux_profile.png" alt="Codecrux Profile"/>
            <ul>
                <li>
                    <a href="#" class="current_page">Home</a>
                </li>
                <li>
                    <a href="map.html">Guide</a>
                </li>
                <li>
                    <a href="resources.html">Resources</a>
                </li>
                <li>
                    <a href="settings.html">Settings</a>
                </li>
            </ul>
        </nav>
    </div>

    <h1>PHS Interactive Guide - Home</h1>
    <p>Welcome to this interactive guide of Poolesville High School! This is a website intended for Poolesville HS teachers, parents, students, and valid guests only. Please use it to help you navigate around the school and get directions from room to room. Ask administrators or teachers if you need further assistance. Falcons Fly High!</p>

</body>
</html>