<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <link rel='stylesheet' href='/static/styles.css'>
    <title>PHS Interactive Map - Home</title>
</head>
<body>
    <div class="website_header">
        <nav>
            <img src="/static/images/codecrux_profile.png" alt="Codecrux Profile"/>
            <ul>
                <li>
                    <a href="#" class="current_page">Home</a>
                </li>
                <li>
                    <a href="map.html">Map</a>
                </li>
                <li>
                    <a href="settings.html">Settings</a>
                </li>
            </ul>
        </nav>
    </div>

    <h1>PHS Interactive Map - Home</h1>
    <p>Welcome to this interactive map of Poolesville High School! This is a website intended for Poolesville HS teachers, parents, students, and valid guests only. Please use it to help you navigate around the school and get directions from room to room. Please ask administrators or teachers if you need further assistance. Falcons Fly High!</p>
    <h2>Important Links: </h2>
    <div class="important_links">
        <a href="https://www.montgomeryschoolsmd.org/schools/poolesvillehs/">Official PHS Website</a>
        <a href="https://defygg.github.io/poolesvilleschedule/">Bell Schedule</a>
        <a href="https://md-mcps-psv.edupoint.com/PXP2_Login.aspx">StudentVue</a>
    </div>
</body>
</html>