<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <link rel="stylesheet" href="/static/interactive_map.css">
    <script src="/static/interactive_map.js"></script>
    <title>PHS Interactive Map - Login</title>
</head>
<body>
    <div class="login_ui" id="login_ui"></div>
        <form action="" method="post">
            <h1>PHS Interactive Map Login</h1>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" placeholder="Enter your MCPS ID" required>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" placeholder="Enter your MCPS Password" required>
            <button type="submit" onclick="verifyUser()">Submit</button>
        </form>
    </div>
</body>
</html>