<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <link rel="stylesheet" href="/static/interactive_map.css">
    <link rel="stylesheet" href="/static/styles.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="/static/interactive_map.js"></script>
    <title>PHS Interactive Map - Map</title>
</head>
<body>
    <div class="website_header">
        <nav>
            <img src="/static/images/codecrux_profile.png" alt="Codecrux Profile"/>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="map.html" class="current_page">Map</a>
                </li>
                <li>
                    <a href="settings.html">Settings</a>
                </li>
            </ul>
        </nav>
    </div>

    <p class="denied_perms" id="denied_perms">Please enable location sharing so that the map can be accessed!</p>
    <p class="deny_access" id="deny_access">Sorry! You cannot access the website since you are not around the PHS area!</p>

    <div class="map_object" id="map_object">
        <p class="map_destination" id="map_destination">Destination:</p>
        <div class="search_bar">
            <select id="search_type" onchange="changeSearchType()">
                <option value="room_number">Room Number</option>
                <option value="room_name">Room Name</option>
                <option value="teacher_name">Teacher Name</option>
            </select>
            <div class="search_results">
                <input type="number" id="room_search" placeholder="Search" onkeyup="runLiveSearch()">
                <div class="search_result_list" id="search_result_list">
                </div>
            </div>

            <button class="save_location" id="save_location" onclick="saveLocation()">Save Location</button>

            <div class="floor_options">
                <button id="floor_1" class="floor_1" onclick="changeCurrentFloor(1)">Floor 1</button>
                <button id="floor_2" class="floor_2" onclick="changeCurrentFloor(2)">Floor 2</button>
            </div>
        </div>
        <p class="location" id="location">Your Current Location: </p>
    </div>
</body>
</html>