<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <link rel='stylesheet' href='/static/styles.css'>
    <title>PHS Interactive Guide - Resources</title>
</head>
<body>
  <div class="website_header">
    <nav>
      <img src="/static/images/codecrux_profile.png" alt="Codecrux Profile"/>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="map.html">Guide</a>
        </li>
        <li>
          <a href="#" class="current_page">Resources</a>
        </li>
        <li>
          <a href="settings.html">Settings</a>
        </li>
      </ul>
    </nav>
  </div>

  <h1>Important Links: </h1>
  <div class="important_links">
    <a href="https://www.montgomeryschoolsmd.org/schools/poolesvillehs/">Official PHS Website</a>
    <a href="https://defygg.github.io/poolesvilleschedule/">Bell Schedule</a>
    <a href="https://phsmap.github.io/auth2.0/?redirectonsuccess=/front/viewer_desktop.html">PHS Interactive Map</a>
    <a href="https://md-mcps-psv.edupoint.com/PXP2_Login.aspx">StudentVUE</a>
    <a href="https://turbo-vue.github.io/">TurboVUE (Alternative to StuentVUE)</a>
  </div>
</body>
</html>