<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <link rel="stylesheet" href="/static/styles.css">
    <title>PHS Interactive Guide - Settings</title>
</head>
<body>
    <div class="website_header">
        <nav>
            <img src="/static/images/codecrux_profile.png" alt="Codecrux Profile"/>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="map.html">Guide</a>
                </li>
                <li>
                    <a href="resources.html">Resources</a>
                </li>
                <li>
                    <a href="#" class="current_page">Settings</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="setting_features">
        <div class="mobility_inclusion">
            <p>Do you have any mobility accommodations?</p>
            <input type="checkbox" id="mobility_accommodations">
        </div>
    </div>

    <button>Save Settings</button>
</body>
</html>